Exercises from [**Data Structures & Algorithms Tutorials in Python**](https://www.youtube.com/playlist?list=PLeo1K3hjS3uu_n_a__MI_KktGTLYopZ12)  
[Array data structure exercises on github](https://github.com/codebasics/data-structures-algorithms-python/blob/master/data_structures/2_Arrays/2_arrays_exercise.md)

## Exercise: Array DataStructure

### 1. Let us say your expense for every month are listed below,
- January - 2200
- February - 2350
- March - 2600
- April - 2130
- May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and got a refund of 200 dollars. Make a correction to your monthly expense list based on this

In [49]:
expenses = [2200, 2350, 2600, 2130, 2190]

1. In Feb, how many dollars you spent extra compare to January?

In [2]:
feb_overspent = expenses[1] - expenses[0]
feb_overspent

150

2. Find out your total expense in first quarter (first three months) of the year.

In [5]:
q1_expenses = expenses[:3]
total_q1_expenses = sum(q1_expenses)
total_q1_expenses

7150

3. Find out if you spent exactly 2000 dollars in any month.

In [8]:
def exact_amount_spent(expenses, amount):
    for month, expense in enumerate(expenses):
        if expense == amount:
            return month
        else:
            return f'No moth had exactly {amount} spent'

In [9]:
exact_amount_spent(expenses, 2000)

'No moth had exactly 2000 spent'

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [11]:
expenses.append(1980)
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

5. You returned an item that you bought in a month of April and got a refund of 200 dollars. Make a correction to your monthly expense list based on this

In [50]:
def refund_correction(expenses: list, month: int, amount: int):
    month -= 1
#     expenses[month] -= amount
    expenses_copy = expenses[:]
    expenses_copy[month] = expenses[month] - amount
    return expenses_copy

In [52]:
print(expenses)
new_expenses = refund_correction(expenses, 4, 200)
print(new_expenses)

[2200, 2350, 2600, 2130, 2190]
[2200, 2350, 2600, 1930, 2190]

### 2. You have a list of your favourite marvel super heros.  

heros=['spider man','thor','hulk','iron man','captain america']  

Using this find out:  

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [78]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list.

In [55]:
heroes_list = len(heros)
heroes_list

5

2. Add 'black panther' at the end of this list.

In [79]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

In [80]:
heros.remove('black panther')
hulk_index = heros.index('hulk')
hulk_index
heros.insert(hulk_index + 1, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

In [81]:
heros[1:3] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [83]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [84]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

### 3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [91]:
def odd_list():
    max_nr = int(input('Insert max nr for odd list: '))
#     max_nr = 9
    odd_list = [x for x in range(1, max_nr+1) if x%2 == 1]
    return list(odd_list)

my_odd = odd_list()
my_odd

Insert max nr for odd list: 9

[1, 3, 5, 7, 9]